.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.card {
  background-color: #fff;
  width: 16rem;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 780px){
   .card{
    width: 100%;
   }
}