header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainDarkBlue);
  color: var(--textColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  display: none;
  font-size: 1.8rem;
}

header > div {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 7px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-container{
   width: 85%;
}

.search-bar > input {
  width: 90%;
  border: none;
  outline: none;
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

.searchQuery{
  top:60px;
  position: absolute;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 10px;
  height: 15rem;
  overflow-y: scroll;
  left: calc(33%);
  z-index: 1;
  border:2px solid var(--mainDarkBlue);
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 1rem 0.5rem;
    height: 90px;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-container{
    width: 100%;
  }
  .searchQuery{
    top: 85px;
    left: 0%;
  }
}
