* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #ec5360;
  --textColor: #eee;
}

p {
  color: var(--mainColor);
}

.danger {
  padding: 4px 10px;
  border-radius: 15px;
  width: 120px;
  text-align: center;
}
